@font-face {
    font-family: veranda;
    src: url('./verdana/Verdana.ttf');
}

body {
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif; */
    font-family: 'veranda'
}

.mar_single_content_are {
    width: 73%;
    display: inline-block;
    padding: 70px;
    background: #fff;
    margin-bottom: 50px;
}

.mar_single_img {
    width: 27%;
    display: inline-block;
    float: left;
}

.mar_c_area {
    position: relative;
    z-index: 2;
}

.mar_single_img img {
    width: 100%;
}

.header-area {
    background: #e4e4e4;
    padding-bottom: 50px;
}

.mar_single_content_area {
    position: relative;
    z-index: 2;
}

.mar_content_title h2 {
    color: #333;
    font-weight: 600;
    line-height: 50px;
}

.mar_content_title h4 {
    color: #333;
    font-weight: 600;
    padding: 20px 0;
}

.mar_content p {
    margin-bottom: 20px;
}

.mar_single_content_area:after {
    position: absolute;
    clear: both;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    content: "";
    background-repeat: repeat-x;
    background-attachment: fixed;
}


/* .mar_b {
    width: 300px;
    height: 50px;
    background: blue;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s ease-in;
    font-weight: 600;
} */


/* .mar_b:hover {
    background: #3A5876;
    color: #fff;
    font-size: 18px;
    padding: 0px;
} */


/* .mar_b span {
    margin-right: 12px;
    font-weight: 400;
} */

.footer-section {
    /* padding-bottom: 15px; */
}

.footer-section .container {
    max-width: 990px;
}

.fo_menu {
    text-align: center;
    padding: 25px 0px;
    border-bottom: 1px solid;
    border-color: #fff;
    opacity: 0.9;
}

.f_s_ic li a i {
    font-size: 30px;
    margin: 20px;
    color: #fff;
    opacity: 0.9;
}

.f_s_ic li:hover {}

.f_s_ic li a {
    color: #fff;
}

.f_s_ic li a:hover i {
    /* color: #fe5700; */
    opacity: 0.9;
}

.f_text p {
    text-align: center;
}

.fo_menu li {
    margin-left: 18px;
}

.fo_menu li a {
    color: #fff !important;
    opacity: 0.9;
}

.f_s_ic li a:hover {
    border: none;
}

.foooter_menu {}

.f_text {
    margin-top: 40px;
}


/* .mar_b span {
    margin-right: 7%;
    font-weight: 400;
} */

ul.fo_menu li a {
    color: #999;
    padding: 5px;
    text-transform: capitalize !important;
    font-size: 18px;
}

.foote_two ul.fo_menu li a {
    color: #999;
    padding: 5px;
    text-transform: capitalize !important;
    font-size: 15px;
}

.fo_menu {
    text-align: center;
    padding: 25px 0px;
    border-bottom: 1px;
    border-color: #fff;
    opacity: 1;
    border-bottom: #ccc 1px solid;
    padding: 20px 0 30px;
    text-transform: capitalize !important;
}


/* .f_s_ic li a i {
    font-size: 20px;
    margin: 20px;
    color: #333;
    opacity: 0.9;
    background: #fff;
    line-height: 20px;
    padding: 14px;
    border-radius: 10px;
} */


/* .f_s_ic li a i {
    font-size: 20px;
    margin: 20px;
    color: #333;
    opacity: 0.9;
    background: #fff;
    line-height: 20px;
    padding: 0px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    transition: all 1s;
} */

.header-area {
    background: #e4e4e4;
    padding: 16px 0px;
}

a.navbar-brand {
    height: 50px;
    width: 200px;
}

.fo_menu li a {
    opacity: 0.9;
    color: #757575 !important;
}


/* .mar_b span {
    margin-right: 9%;
    font-weight: 400;
}

.mar_b span {
    margin-right: 2%;
    font-weight: 400;
    margin-left: -9%;
} */

.footer-section .container {
    max-width: 1140px;
}

ul.fo_menu li a {
    color: #999;
    padding: 5px;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 18px;
    margin-right: 25px;
}

ul.fo_menu li a {
    color: #999;
    padding: 5px;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 18px;
    margin-right: 10px;
}

.fo_menu li a:hover {
    color: #666 !important;
    opacity: 1;
    /* */
    font-weight: bold !important;
    border-bottom: 0px solid;
    /* border-color: #fff; */
}


/* .mar_b span {
    margin-right: 3%;
    font-weight: 400;
    margin-left: -7%;
}

.mar_b span {
    margin-right: 3%;
    font-weight: 400;
    margin-left: -7%;
    font-size: 24px;
    line-height: 24px;
} */

.fo_menu li a:hover {
    color: #666 !important;
    opacity: 1;
    font-weight: bold !important;
    border-bottom: 0px solid;
    /* border-color: #fff; */
}

.fo_menu li {
    margin-left: 18px;
    scale: ();
    /* transform: scale(1.1,1.1); */
    transition: all 1s;
    display: inline-block;
}

ul.fo_menu li:hover {
    display: inline-block;
    transform: scale(1.2, 1.2);
}

.f_s_ic li a:hover i {
    /* color: transparent; */
    opacity: 1;
}

.f_s_ic li {
    /* transition: all .1s; */
    display: inline-block;
}

ul.f_s_ic {
    text-align: center;
}

.fa-twitter:hover {
    color: #04A9F4;
    transform: scale(1.5);
    -webkit-transition: all .3s ease-in-out;
}

.fa-linkedin-square:hover {
    color: #01649B;
    transform: scale(1.5);
    -webkit-transition: all .3s ease-in-out;
}

.fa-youtube-play:hover {
    padding: 0px;
    color: #FB0007;
    transform: scale(1.5);
    -webkit-transition: all .3s ease-in-out;
}

.fa-facebook-square:hover {
    color: #3A559F;
    transform: scale(1.5);
    -webkit-transition: all .3s ease-in-out;
}

.fa-instagram:hover {
    color: #bc0499 !important;
    transform: scale(1.5);
    -webkit-transition: all .3s ease-in-out;
}

.footer-section {
    padding-bottom: 20px;
}

.up {
    width: auto;
    height: auto;
    line-height: auto;
    background: rgba(0, 0, 0, .4);
    background: transparent;
    text-align: center;
    transition: 0.2s ease-in;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 25px;
    z-index: 555;
}


/* .mar_b {
    width: 300px;
    height: 50px;
    background: #666;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s ease-out;
    font-weight: 600;
    margin-top: 30px;
}

.mar_b:hover {
    background: #3A5876;
    color: #fff;
    font-size: 18px; 
    padding: 0px;
    transform: scale(1.1, 1.1);
}

.mar_b span {
    margin-right: 3%;
    
    margin-left: -7%;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
} */

.footer-section {
    padding-bottom: 40px;
}

.mar_content_title h2 {
    color: rgb(23, 54, 93);
    font-weight: 600;
    line-height: 50px;
    font-size: 25px;
}

.mar_content_title h4 {
    color: rgb(23, 54, 93);
    font-weight: 600;
    padding: 0px 0px 20px 0px;
}

.mar_content p {
    margin-bottom: 20px;
    color: #000000d6;
}


/* 
.fo_menu li a {
    opacity: 0.9;
    color: #fff !important;
}

.fo_menu li a:hover {
    color: #fff !important;
    opacity: 1;
    font-weight: bold !important;
    border-bottom: 0px solid;
    
}

.f_s_ic li a i {
    font-size: 30px;
    margin: 20px;
    color: #fff;
    opacity: 0.9;
    background: transparent;
    line-height: 20px;
    padding: 0px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
} */

.v1 {
    color: #000000d6 !important;
    font-weight: 600;
    line-height: 50px;
    font-size: 25px;
}

.f_text {
    margin-top: 20px;
}

.footer-section {
    padding-bottom: 20px;
}


/* .mar_b:hover {
    background: #3A5876;
    color: #fff;
    font-size: 18px;
    padding: 0px;
    transform: scale(1, 1);
} */

.f_text {
    margin-top: 20px;
    padding: 10px 0px;
    font-size: 14px;
}

.sub_title {
    color: rgb(23, 54, 93);
    font-weight: 600;
    padding: 0px 0px 25px 0px;
    margin-top: -5px;
    font-size: 25px;
}

.mar_content_title h2 {
    color: rgb(23, 54, 93);
    font-weight: 600;
    line-height: 27px;
    font-size: 25px;
}

.v1title h2 {
    color: #000000d9;
    font-weight: 600;
    line-height: 27px;
    font-size: 25px;
}

.newversion {
    position: relative;
    z-index: 2;
    padding-top: 80px;
    background-color: #ccc;
}


.mar_content_title h2 {
    color: #000000d9;
    font-weight: 600;
    line-height: 27px;
    font-size: 25px;
}

ul.fo_menu li a {
    color: #fff !important;
    padding: 5px;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 18px;
    margin-right: 10px;
    transition: all 0.4s ease-in-out;
    margin-right: 25px;
}

.f_s_ic li a i {
    font-size: 30px;
    margin: 20px;
    color: #fff;
    opacity: 0.9;
    background: transparent;
    line-height: 20px;
    padding: 0px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-left: 20px;
}

ul.f_s_ic {
    text-align: center;
    border-bottom: #ccc 1px solid;
    padding: 11px 0px;
}

.f_s_ic li a {
    color: #fff;
    margin-right: 30px;
}

ul.f_s_ic {
    text-align: center;
    border-bottom: #808080e0 1px solid;
    padding: 11px 0px;
}

.fo_menu {
    text-align: center;
    padding: 25px 0px;
    border-bottom: 1px;
    border-color: #fff;
    opacity: 1;
    border-bottom: #808080e0 1px solid;
    padding: 20px 0 30px;
    text-transform: capitalize !important;
}

.up {
    width: 50px;
    height: 50px;
    line-height: auto;
    background: rgba(0, 0, 0, .4);
    background: transparent;
    text-align: center;
    transition: 0.2s ease-in;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 25px;
    z-index: 555;
}

.mar_content_title h2 {
    color: #000000d9;
    font-weight: 600;
    line-height: 35px;
    font-size: 25px;
}


/* .mar_b:hover {
    background: #3A5876;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    transform: scale(1, 1);
    font-size: 30px;
}

.mar_b {
    width: auto;
    height: auto;
    background: #666;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s ease-out;
    font-weight: 600;
    margin-top: 30px;
    font-size: 23px;
    padding: 8px 30px;
} */

.mar_b {
    width: 54%;
    height: auto;
    background: #666;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s ease-out;
    font-weight: 600;
    margin-top: 30px;
    font-size: 20px;
    padding: 20px;
    overflow: hidden;
}

.mar_b:hover {
    background: #3A5876;
    color: #fff;
    font-size: 18px;
    padding: 0px;
    transform: scale(1, 1);
    font-size: 24px;
    padding: 20px;
}

.mar_b span {
    margin-right: 3%;
    /* font-weight: 400; */
    margin-left: -7%;
    font-size: 27px;
    line-height: 26px;
    font-weight: bold;
}